@font-face {
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
   src:
      url('./assets/Fonts/static/Prata-Regular.ttf') format('woff'),
      url('./assets/Fonts/static/Prata-Regular.ttf') format('woff2');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src:
      url('./assets/Fonts/static/Montserrat-Regular.ttf') format('woff'),
      url('./assets/Fonts/static/Montserrat-Regular.ttf') format('woff2');
}

@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src:
      url('./assets/Fonts/static/Montserrat-Medium.ttf') format('woff'),
      url('./assets/Fonts/static/Montserrat-Medium.ttf') format('woff2');
}

@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src:
      url('./assets/Fonts/static/Montserrat-SemiBold.ttf') format('woff'),
      url('./assets/Fonts/static/Montserrat-SemiBold.ttf') format('woff2');
}

@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src:
      url('./assets/Fonts/static/Montserrat-Bold.ttf') format('woff'),
      url('./assets/Fonts/static/Montserrat-Bold.ttf') format('woff2');
}

@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   src:
      url('./assets/Fonts/static/Montserrat-Light.ttf') format('woff'),
      url('./assets/Fonts/static/Montserrat-Light.ttf') format('woff2');
}

@font-face {
   font-family: 'Montserrat';
   font-style: italic;
   font-weight: 400;
   src:
      url('./assets/Fonts/static/Montserrat-Italic.ttf') format('woff'),
      url('./assets/Fonts/static/Montserrat-Italic.ttf') format('woff2');
}

@font-face {
   font-family: 'FrankRuhlLibre';
   font-style: normal;
   font-weight: 400;
   src:
      url('./assets/Fonts/static/FrankRuhlLibre-Regular.ttf') format('woff'),
      url('./assets/Fonts/static/FrankRuhlLibre-Regular.ttf') format('woff2');
}

@font-face {
   font-family: 'FrankRuhlLibre';
   font-style: normal;
   font-weight: 500;
   src:
      url('./assets/Fonts/static/FrankRuhlLibre-Medium.ttf') format('woff'),
      url('./assets/Fonts/static/FrankRuhlLibre-Medium.ttf') format('woff2');
}

@font-face {
   font-family: 'FrankRuhlLibre';
   font-style: normal;
   font-weight: 600;
   src:
      url('./assets/Fonts/static/FrankRuhlLibre-SemiBold.ttf') format('woff'),
      url('./assets/Fonts/static/FrankRuhlLibre-SemiBold.ttf') format('woff2');
}

@font-face {
   font-family: 'FrankRuhlLibre';
   font-style: normal;
   font-weight: 700;
   src:
      url('./assets/Fonts/static/FrankRuhlLibre-Bold.ttf') format('woff'),
      url('./assets/Fonts/static/FrankRuhlLibre-Bold.ttf') format('woff2');
}

@font-face {
   font-family: 'FrankRuhlLibre';
   font-style: normal;
   font-weight: 300;
   src:
      url('./assets/Fonts/static/FrankRuhlLibre-Light.ttf') format('woff'),
      url('./assets/Fonts/static/FrankRuhlLibre-Light.ttf') format('woff2');
}

* {
   box-sizing: border-box;
}

body {
   box-sizing: border-box;
}

/* Hide vertical scrollbar */
::-webkit-scrollbar {
   width: 0px; /* Hides the vertical scrollbar */
}

/* Custom styles for horizontal scrollbar */
::-webkit-scrollbar:horizontal {
   height: 8px; /* Custom height for the horizontal scrollbar */
   background-color: blueviolet;
   border-radius: 50%; /* Background color of the scrollbar track */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb:horizontal {
   background-color: rgb(190, 134, 218); /* Color of the thumb */
   border-radius: 10px; /* Rounded corners for the thumb */
   border: 2px solid transparent; /* Space around the thumb */
   background-clip: padding-box; /* Ensure the border is outside */
}

/* Customize scrollbar track */
::-webkit-scrollbar-track:horizontal {
   background-color: lightblue; /* Background of the scrollbar track */
   border-radius: 10px; /* Rounded corners for the track */
}

/* Optional: Style when hovering over the scrollbar thumb */
::-webkit-scrollbar-thumb:hover:horizontal {
   background-color: rgb(173, 124, 223); /* Darker shade when hovering */
}

@keyframes appear {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.slick-prev,
.slick-next {
   display: block !important; /* Ensure they are displayed */
   opacity: 1 !important; /* Make them visible */
   z-index: 10; /* Bring them to the front */
}

.slick-prev {
   left: -40px !important; /* Adjust position */
}

.slick-next {
   right: -30px !important; /* Adjust position */
}

.slick-prev,
.slick-next {
   color: black; /* Change arrow color */
   border-radius: 50%; /* Make them circular */
}

.slick-slider {
   all: initial; /* Resets all inherited properties */
   position: relative; /* Required for the slider */
}

.slick-prev,
.slick-next {
   color: #ffffff; /* Visible color */
}

.slick-prev:before,
.slick-next:before {
   color: rebeccapurple !important;
   font-size: 30px !important;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
   display: flex;
   gap: 8px;
}

.slick-initialized .slick-slide {
   width: fit-content;
}

@media (min-width: 10px) and (max-width: 767px) {
   .slick-slider .slick-track,
   .slick-slider .slick-list {
      gap: 0px;
   }
}

@keyframes fadeScale {
   0% {
      opacity: 0;
      transform: scale(0.95);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.fadeScale {
   animation: fadeScale 0.5s ease-in-out;
}

@media (min-width: 10px) and (max-width: 767px) {
   .xs\:object-right-cus {
      object-position: 85% 50%;
   }
}
.object-right-cus2 {
   object-position: 50% 20%;
}

@media (min-width: 10px) and (max-width: 767px) {
   .xs\:object-right-cus2 {
      object-position: 75% 50%;
   }
}
@media (min-width: 10px) and (max-width: 767px) {
   .xs\:object-right-cus3 {
      object-position: 81% 80%;
   }
}

@keyframes loadSpin {
   0% {
      transform: rotate(0);
      background-color: transparent;
   }
   100% {
      transform: rotate(360deg);
      background: transparent;
   }
}

.loadSpin {
   animation: loadSpin 1s infinite;
}

@keyframes showAnimate {
   0% {
      right: -100%;
      opacity: 0;
   }
   100% {
      right: 0;
      opacity: 1;
   }
}

.showAnimate {
   animation: showAnimate .2s ease-in
}